@model IEnumerable<Collection.Models.User>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Status</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Роли</a>
            </td>
            <td>
                <button type="submit" asp-action="Unlock" class="btn btn-success">Разблокировать</button>
            </td>
            <td>
                <button type="submit" class="btn btn-warning">Заблокировать</button>
            </td>
            <td>
                <button type="submit" asp-action="Delete" class="btn btn-danger">Удалить</button>
            </td>
        </tr>
    }
</table>